body{
    background-image:url("https://66.media.tumblr.com/0322943265562fc7b01f9641cf3c2f1a/tumblr_ndpupoDTro1rnmh3no3_r3_250.png");
    background-image:repeat;
}
*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    font-family: 'Questrial', sans-serif;
    color:#faf7fa;
}
.sidebar{
    position:fixed;
    left:-250px;
    width:250px;
    height:100%;
    background:#545454;
    transition:all .5s ease;
    
}
.sidebar header{
    font-size:22px;
    color:white;
    text-align:center;
    line-height:70px;
    background:#808080;
    user-select:none;
}
.sidebar ul a{
    display:block;
    height:100%;
    width:100%;
    line-height:65px;
    font-size:20px;
    color:white;
    padding-left:40px;
    box-sizing:border-box;
    border-top:1px solid white;
    border-bottom:1px solid white;
    transition:.3s;
}
ul li:hover a{
    padding-left:50px;
    background-color:#999098;
}
.sidebar ul a i{
    margin-right:10px;
}
#check{
    display:none;
}
label #btn, label #cancel{
    position:absolute;
    cursor:pointer;
    background:#808080;
    border-radius:3px;
}
label #btn{
    left:40px;
    top:25px;
    font-size:35px;
    color:white;
    padding:6px 12px;
    transition:all .5s;
}
label #cancel{
    z-index:1111;
    left:-195px;
    top:17px;
    font-size:30px;
    color:white;
    padding:4px 9px;
    transition:all .5s ease;
}
#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~ label #btn{
    left:250px;
    opacity:0;
    pointer-events:none;
}
#check:checked ~ label #cancel{
    left:195px
}
#check:checked ~ header{
    margin-left:250px;
}
header{
    transition:ease .5s all;
    background-color:#bdbdbd
}
.title{
    margin-left:125px;
    padding-top:15px;
    font-size:60px;
    padding-bottom:15px;
    text-shadow: -4px 4px #a698a5;


}
.active{
    background-color:#827781;
}
li{
    font-family: 'Questrial', sans-serif;
}
footer{
    padding:20px;
    margin-top:20px;
    background-color:#3c3c3c;
    text-align:center;
}
section{
    padding:20px;
    margin-top:20px;
    background-color:#bdbdbd;
    text-align:left;
}
.dog{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}
