*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:8vh;
    font-family: 'Rubik', sans-serif;
    background-color:#dbe8f9;
}

.logo{
    color:#273138;
    text-transform: uppercase;
    letter-spacing:5px;
    font-size:20px;
}

.nav-links{
    display:flex;
    justify-content:space-around;
    width:40%;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    color:#273138;
    text-decoration:none;
    letter-spacing:3px;
    font-weight:bold;
    font-size:14px;
}

.burger{
    display:none;
}

.burger div{
    width:30px;
    height: 3px;
    background-color:#273138;
    margin:5px;
}

@media screen and (max-width:1024px){
    .nav-links{
        display:flex;
        justify-content:space-around;
        width:57%;
    }
}

@media screen and (max-width:768px){
    body{
        display:none;
    }
}

